@import "./vars.scss";


.container {
  margin: auto;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.study__optionContainer {
  padding: 1% 0;
}
.study__optionsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2%;
  width: 80%;
  .studyOption {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    background: $highlight;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.study__wrong {
  font-size: 3rem;
  color: $error;
  font-weight: 700;
}

/* Mobile first queries */

/* Larger than phone */
@media screen and (min-width: 400px) {
  .container {
    max-width: 380px;
    width: auto;
  }
}

/* Larger than large phone */
@media screen and (min-width: 550px) {
  .container {
    max-width: 520px;
    width: auto;
  }

}

/* Larger than tablet */
@media screen and (min-width: 750px) {
  .container {
    max-width: 720px;
    width: auto;
  }
}

/* Larger than desktop */
@media screen and (min-width: 1000px) {
  .container {
    max-width: 900px;
    width: auto;
  }
}

/* Larger than Desktop HD */
@media screen and (min-width: 1200px) {
  .container {
      max-width: 1000px;
    width: auto;
  }
}

@media screen and (min-width: 1500px) {
    .container {
        max-width: 1200px;
        width: auto;
    }
}

html, body, #app, .page {
  height: 100%;
  width: 100%;
  font-size: 100%;
  color: $primary;
}
.light {
  color: $secondary;
}

.page {
  height: 90vh;
}
.app__nav {
  display: flex;
  @include headingFont;
  font-weight: bold;
  font-size: 2rem;
  @include shadow--small;
  padding: 1%;
  color: $primary;
  text-decoration: none;
  height: 10vh;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  .logout {
    margin-left: auto;
  }
}

.nav__brand {
  @include headingFont;
  font-weight: bold;
  font-size: 2rem;
  padding: 1%;
  color: $primary;
  display: flex;
  align-items: center;
  img {
    height: 9vh;
  }
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999999;
  background: $background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .loading__header {
    font-weight: bold;
    font-size: 2rem;
  }
}

.btn {
  color: $primary;
  display: block;
  text-decoration: none;
  padding: .6em 1em;
  @include shadow--small;
  border: none;
  border-radius: $rounding;
  background-color: $highlight;
  font-weight: bold;
  font-size: 1.6em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  @include transition;
  &:hover {
    opacity: 0.8;
    @include shadow--med;
  }
  &:focus {
    outline: none;
  }
}

.btn__dark {
  background-color: $primary;
  color: #fff;
}

.full_height {
  min-height: 100vh;
}

.full_height__minus_nav {
  min-height: calc(100vh - 10vh - 2rem);
}

.stick__bottom {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
}

.place_center {
  display: grid;
  place-items: center center;
}

.study__heading {
  font-size: 6rem;
  font-weight: 700;
  color: $highlight;
}

.set_heading__primary {
  font-size: 4rem;
  font-weight: 700;
}

.set_heading__secondary {
  font-size: 2rem;
  font-weight: 500l
}

.flat_link {
  color: $primary;
  text-decoration-color: $highlight;
}

.set {
  @include shadow--med;
  padding: 2em;
  width: 100%;
}

.dark {
  color: $primary;
}
.roots__def {
  margin: 1em;
}

.text_box,
.text_box:active {
  font-size: 3em;
  border: none;
  border-bottom: .3rem solid $highlight;
  font-family: Georgia, 'Times New Roman', Times, serif;
  outline: none;
}

.padding_thin {
  padding: 1em;
}

.btn__small {
  font-size: 1.3rem;
}