@import "./vars.scss";

html, body, #app, .page {
  height: 100%;
  width: 100%;
  font-size: 100%;
  color: $primary;
}
.light {
  color: $secondary;
}
.dark {
  color: $primary;
}
.page {
  height: 90vh;
}
.app__nav {
  display: flex;
  @include headingFont;
  font-weight: bold;
  font-size: 2rem;
  @include shadow--small;
  padding: 1%;
  color: $primary;
  text-decoration: none;
  height: 10vh;
  align-items: center;
}

.nav__brand {
  @include headingFont;
  font-weight: bold;
  font-size: 2rem;
  padding: 1%;
  color: $primary;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999999;
  background: $background;
}

.btn {
  display: block;
  text-decoration: none;
  padding: .6em 1em;
  @include shadow--small;
  border: none;
  border-radius: $rounding;
  background-color: $highlight;
  font-weight: bold;
  font-size: 1.6em;
  cursor: pointer;
  @include transition;
  &:hover {
    opacity: 0.8;
    @include shadow--med;
  }
  &:focus {
    outline: none;
  }
}

.btn__dark {
  background-color: $primary;
  color: #fff;
}

.full_height {
  min-height: 100vh;
}

.full_height__minus_nav {
  min-height: calc(100vh - 10vh - 2rem);
}

.stick__bottom {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
}

.place_center {
  display: grid;
  place-items: center center;
}

.study__heading {
  font-size: 10rem;
  font-weight: 700;
  color: $highlight;
}