@import "vars.scss";
.sets__percentDone {
  font-size: 6vw;
  font-weight: bold;
  @include headingFont;
}
.sets__encouragingStatement {
  font-weight: bold;
  font-weight: 2vw;
}
.sets__continue {
  margin-top: 2%;
}