@import "vars.scss";
.sets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sets__percentDone {
  font-size: 6vw;
  font-weight: bold;

}
.sets__encouragingStatement {
  font-weight: bold;
  font-weight: 2vw;
}
.sets__continue {
  margin-top: 2%;
}